.users-list-wrp{
    position: absolute;
    background-color: rgb(5, 5, 85);
    border-radius: 40px;
    width: 92%;
    height: 75%;
    left: 4%;
    top:15%;
    bottom: 0;
    right: 0;
}
.users-list::-webkit-scrollbar-thumb {
    background: rgb(45, 35, 184);
  }
.users-list{
    padding: 30px;
    padding-bottom: 100px;
    width: 90%;
    height: 80%;
    position: relative;
    left: 5%;
    top:8%;
    bottom: 0;
    right: 0;
    background-color:rgb(5, 5, 85);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.user-card{
    background-color: cornflowerblue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:10px;
}
.btn-card-user-wrp {
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.btn-edit-user{
    padding: 4px 16px;
    background-color: orange;
    font-size: 18px;
    border-radius: 10px;
    color:white;
}
.btn-delete-user{
    margin: 0px;
    padding: 4px 16px;
    background-color: red;
    font-size: 18px;
    border-radius: 10px;
    color:white;
}
.user-name-email{
    font-size: 18px;
    padding: 6px 16px;
    border-radius: 10px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
    flex-basis: 500px;
}
.btn-user-wrp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    padding-top: 30px;
    width: 100%;
    height: 10%;
}
.btn-add-user{
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(25, 155, 31);
    border-radius: 6px;
    color:white;
}
.btn-back-user{
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(21, 158, 147);
    border-radius: 6px;
    color:white;
}