.message {
  display: flex;
  width: 100%;
}
.own-message {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.message-wrp {
  margin: 10px;
  border: 1px solid rgb(96, 96, 206);
  background-color: rgb(184, 184, 255);
  border-radius: 10px;
  display: flex;
  min-height: 105px;
}
.main-message-wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  height: 90%;
}
.user-message-wrp {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: 8px;
}
.message img {
  height: 70px;
}
.message-text {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 600px;
  font-size: 18px;
  padding: 6px 5px;
}

.tools {
  margin-top: 7px;
  height: 102%;
  width: 32px;
  padding-left: 4px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-like {
  transition-duration: 0.5s;
  cursor: pointer;
  font-size: 25px;
  color: grey;
}
.message-liked {
  transition-duration: 0.5s;
  cursor: pointer;
  font-size: 30px;
  color: rgb(255, 0, 0);
}
.message-edit {
  cursor: pointer;
  font-size: 18px;
  color: rgb(53, 53, 53);
}
.message-delete {
  cursor: pointer;
  margin-bottom: 14px;
  font-size: 18px;
}
.message-user-name {
  font-size: 16px;
  font-weight: 600;
  padding: 3px;
  padding-top: 7px;
  text-align: center;
}
.message .message-time {
  display: flex;
  flex-direction: row-reverse;
}
.own-message .message-time {
  display: flex;
  margin-left: 4px;
}
