.error-modal{
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 87%;
    margin: 10px;
    opacity: 0.85;
    border-radius: 7px;
    border-radius: 1px solid;
    background-color: red;
    padding: 20px;
}
.error-modal-text{

    color:white;
    font-size: 25px;
}