.preloader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100000000;
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
}
.spinner {
  position: absolute;
  z-index: 1000;
  font-size: 70px;
  top: 45%;
  left: 50%;
  color: rgb(94, 94, 94);
}
