.btn-back-to-user-list{
    position: absolute;
    left: 30px;
    top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(141, 0, 0);
    border-radius: 10px;
}


.edit-user-page{
    display: flex;
    align-items: center;
}
.edit-user-page{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 16, 70);
  }
  .edit-user-page form{
    
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 60px 100px;
    background-color: rgb(7, 0, 102);
  }
  .edit-user-page form p{
    text-align: center;
    font-size: 25px;
    color: rgb(219, 217, 255);
    margin: 10px;
  }
  .edit-user-page form input{
    margin: 10px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    padding:0px 10px;
  }
  .edit-user-page form button{
    margin-top: 30px;
    padding: 7px 20px;
    font-size: 25px;
    border-radius: 10px;
  }

  .add-user-page{
    display: flex;
    align-items: center;
}
.add-user-page{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 16, 70);
  }
  .add-user-page form{
    
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 60px 100px;
    background-color: rgb(7, 0, 102);
  }
  .add-user-page form p{
    text-align: center;
    font-size: 25px;
    color: rgb(219, 217, 255);
    margin: 10px;
  }
  .add-user-page form input{
    margin: 10px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    padding:0px 10px;
  }
  .add-user-page form button{
    margin-top: 30px;
    padding: 7px 20px;
    font-size: 25px;
    border-radius: 10px;
  }


  