.edit-message-modal {
  display: none;
}

.modal-shown {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-message-modal-body {
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 80%;
  background-color: rgb(88, 88, 170);
}
.edit-message-modal-body form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 85%;
}
.edit-message-input {
  border-radius: 15px;
  padding: 20px;
  font-size: 30px;
  margin-bottom: 2.5%;
  height: 90%;
  width: 90%;
  align-items: center;
}
.edit-message-modal-body label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 80%;
}
.close-btn-wrp {
  display: flex;
  flex-direction: row-reverse;
}
.edit-message-close {
  margin:15px;
  font-size: 50px;
  color:rgb(17, 4, 82);
  background-color: rgb(88, 88, 170);
  width: 50px;
  height: 50px;
}

.btn-save-wrp {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-message-button {
  border-radius: 10px;

  background-color: rgb(197, 211, 255);
  color: rgb(0, 19, 71);
  cursor: pointer;
  font-size: 40px;
  padding: 7px 20px;
  margin-right: 20px;
}
.btn-back-edit{
  padding: 10px 20px;
  font-size: 25px;
  background: rgb(173, 0, 0);
  border-radius: 10px;
  color: white;
  margin: 10px;
}