.message-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  background-color: rgb(61, 62, 122);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #002a79;
}

::-webkit-scrollbar-thumb {
  background: rgb(6, 0, 95);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 20, 201);
}
