.login{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 16, 70);
}
.login form{
  
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 60px 100px;
  background-color: rgb(7, 0, 102);
}
.login form p{
  text-align: center;
  font-size: 25px;
  color: rgb(219, 217, 255);
  margin: 10px;
}
.login form input{
  margin: 10px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
  padding:0px 10px;
}
.login form button{
  margin-top: 30px;
  padding: 7px 20px;
  font-size: 25px;
  border-radius: 10px;
}
.login-error{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(155, 51, 51);
  border-radius: 10px;
}
.login-error-text{
  font-size: 20px;
  color:rgb(255, 211, 211)
}